[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
opencv-python = "*"
numpy = "*"
scipy = "*"
sacred = "*"
matplotlib = "*"
pillow = "*"
nvidia-ml-py = "*"

[requires]
python_version = "3.5.2"
